<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- Lista de todos los compontentes -->

    <!-- 
        HARDWARES:
        memoria ram, memoria rom, placa de video, placa de sonido, (disco externo, pendrive), dispositivos de salida, dispositivos perifericos, computadora de escritorio, notebook, netbook

        SOFTWARES:
        https://desdev.tools/: coleccion de herramientas para desarrolladores, jitter.video, https://chat.openai.com/ (chat GPT), aifindy
     -->
    <div class="header">
        <div class="header__elemento">

            <a href="">Tienda</a>
        </div>
        <div class="header__elemento">
            <a href="">Noticias</a>
        </div>
        <div class="header__elemento" (click)="OpenCloseDropdown()">
            <a>Categorías</a>

            <div class="dropdown">
                <ul>
                    <li>Hardware</li>
                    <li>Software</li>
                    <li>Robotica</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="articulos">
        <article>
            <div class="articulo__imagen">
                
            </div>
            <div class="articulo__texto">

                <div class="articulo__titulo">
                    <h4>Placa Madre</h4>
                </div>
                <div class="articulo__descripcion">
                    <p>Es el "Cerebro de la Computadora", el componente al que se conectan el resto de los componentes, en ésta se encuentra la <a href="">BIOS</a> la cual seria como el cerebro de la mismisima Placa Madre.</p>
                </div>
            </div>
        </article>
        <article>
            <div class="articulo__imagen">
                
            </div>
            <div class="articulo__texto">

                <div class="articulo__titulo">
                    <h4>Procesador</h4>
                </div>
                <div class="articulo__descripcion">
                    <p>Su nombre completo es "Unidad Central de Procesamiento (CPU)", se encarga de procesar toda la informacion que le solicitamos a la computadora</p>
                </div>
            </div>
        </article>
        <article>
            <div class="articulo__imagen">
                
            </div>
            <div class="articulo__texto">

                <div class="articulo__titulo">
                    <h4>Memoria RAM</h4>
                </div>
                <div class="articulo__descripcion">
                    <p>Almacena información de forma temporal y rápida para que la computadora accesa a esa información más rápidamente, entre mayor cantidad de RAM tengamos en nuestra pc, más rapido y más cantidad de programas podremos abrir al mismo tiempo (de manera simultánea)</p>
                </div>
            </div>
        </article>
        <article>
            <div class="articulo__imagen">
                
            </div>
            <div class="articulo__texto">

                <div class="articulo__titulo">
                    <h4>Memoria ROM</h4>
                </div>
                <div class="articulo__descripcion">
                    <p>Almacena información de forma permanente y de solo lectura, por lo que una vez almacena la información no se la puede modificar, sólo instalarla o desinstalarla. Almacerna todo lo relacionado con instrucciones (BIOS)</p>
                </div>
            </div>
        </article>
        <article>
            <div class="articulo__imagen">
                
            </div>
            <div class="articulo__texto">

                <div class="articulo__titulo">
                    <h4>Placa de video / tarjeta gráfica</h4>
                </div>
                <div class="articulo__descripcion">
                    <p>Permite que la computadora muestre imágenes en el monitor, trabaja junto a un software que le indica a la computadora cómo usar la placa de video. Gracias a ésta, se puede modificar la configuración de la imagen (calidad, tamaño, etc.)</p>
                </div>
            </div>
        </article>
        <article>
            <div class="articulo__imagen">
                
            </div>
            <div class="articulo__texto">

                <div class="articulo__titulo">
                    <h4>Placa de sonido</h4>
                </div>
                <div class="articulo__descripcion">
                    <p></p>
                </div>
            </div>
        </article>
        <article>
            <div class="articulo__imagen">
                
            </div>
            <div class="articulo__texto">

                <div class="articulo__titulo">
                    <h4>Memoria RAM</h4>
                </div>
                <div class="articulo__descripcion">
                    <p>Almacena información de forma temporal y rápida para que la computadora accesa a esa información más rápidamente, entre mayor cantidad de RAM tengamos en nuestra pc, más rapido y más cantidad de programas podremos abrir al mismo tiempo (de manera simultánea)</p>
                </div>
            </div>
        </article>
        <article>
            <div class="articulo__imagen">
                
            </div>
            <div class="articulo__texto">

                <div class="articulo__titulo">
                    <h4>Memoria RAM</h4>
                </div>
                <div class="articulo__descripcion">
                    <p>Almacena información de forma temporal y rápida para que la computadora accesa a esa información más rápidamente, entre mayor cantidad de RAM tengamos en nuestra pc, más rapido y más cantidad de programas podremos abrir al mismo tiempo (de manera simultánea)</p>
                </div>
            </div>
        </article>
        <article>
            <div class="articulo__imagen">
                
            </div>
            <div class="articulo__texto">

                <div class="articulo__titulo">
                    <h4>Memoria RAM</h4>
                </div>
                <div class="articulo__descripcion">
                    <p>Almacena información de forma temporal y rápida para que la computadora accesa a esa información más rápidamente, entre mayor cantidad de RAM tengamos en nuestra pc, más rapido y más cantidad de programas podremos abrir al mismo tiempo (de manera simultánea)</p>
                </div>
            </div>
        </article>
    </div>
</body>
</html>